.modal-backdrop1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
  }
  .modal1 {
    padding: 30px;
    width:1000px;
    margin: 50px auto 200px;
    background: #fff;
    border-radius: 10px;
    /* z-index: 999; */
  }